<!--Start payment-history area -->

<div class="protesta">PROTESTA</div>
<div class="top-margin">
<div class="row">
    <div class="col-lg-7">
        <div class="container-partido">
            <div class="detalle-partido">
                <div class="detalle-equipo"><a routerLink="/perfil-teams">
                    <span class="title-equipo">EQUIPO A</span>

                    <div class="detalle-perfil"><img class="image-detalle" [src]="imageSrc"></div></a>
                </div>
                <div class="detalle-vs">
                    <p class="text-center vs">VS</p>
                    <!-- <div class="detalle-partido-resultado">1 - 0</div> -->
                </div>
                <div class="detalle-equipo"><a routerLink="/perfil-teams">

                    <span class="title-equipo">EQUIPO A</span>

                    <div class="detalle-perfil"><img class="image-detalle" [src]="imageSrc"></div></a>
                </div>

            </div>

        </div>

        <div class="detalle-equipo">
            <div class="detalle-resultado"><span class="first">1</span><span class="separator">:</span><span
                    class="second">2</span>
            </div>
        </div>
    </div>
    <div class="col-lg-5 full-height ">
        <div class="detalle-partido-chat">
        <div class="foro-chat ">
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           CHAT O FORO
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           
        </div>
    </div></div>

</div>
</div>