<!-- <app-header></app-header> -->

  <div class="position-relative overflow-hidden">
    <div class="row">
      <div class="col-xl-8 secondary1">
        <div class="flex">
          <div class="card card1" style="width: 18rem;">
            <img [src]="imageAshe" class="card-img-top" alt="...">
            <h5 class="title-card">League of legends </h5>

            <div class="card-body secondary1">
              <p class="wt card-text">Modo 5vs5</p>
              <p class="wt card-text">Región: EUW</p>
              <p class="wt card-text">Grieta del invocador</p>
              <p class="wt card-text">Fecha: 1, feb, 2021. 18:00</p>
              <p class="wt card-text">Premios: 100/50/20 puntos</p>
              <a class="btn but1" data-toggle="modal" data-target="#modalLol">Apúntate</a>
              <a class="btn but2" data-toggle="modal" data-target="#reglasLol5v5">Reglas</a>
            </div>
          </div>
          <div class="card card1" style="width: 18rem;">
            <img [src]="imageJhin" class="card-img-top" alt="...">
            <h5 class="title-card">League of legens</h5>
            <div class="card-body secondary1">

              <p class="wt card-text">Modo 1vs1</p>
              <p class="wt card-text">Región: EUW</p>
              <p class="wt card-text">Abismo de los lamentos</p>
              <p class="wt card-text">Fecha: 2, feb, 2021. 18:00</p>
              <p class="wt card-text">Premios: 100/50/20 puntos</p>
              <a  class="btn but1">Apúntate</a>
              <a class="btn but2" data-toggle="modal" data-target="#reglasLol1v1">Reglas</a>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="card card1" style="width: 18rem;">
            <img [src]="fifa1vs1" class="card-img-top " alt="...">
            <h5 class="title-card">Fifa 21</h5>

            <div class="card-body secondary1">
              <p class="wt card-text">Modo 1vs1</p>
              <p class="wt card-text">Región: Europa</p>
              <p class="wt card-text">Fecha: 1, feb, 2021. 18:00</p>
              <p class="wt card-text">Premios: 100/50/20 puntos</p>
              <a  class="btn but1">Apúntate</a>
              <a class="btn but2" data-toggle="modal" data-target="#reglasFifa1v1">Reglas</a>
            </div>
          </div>
          <div class="card card1" style="width: 18rem;">
            <img [src]="fifa11vs11" class="card-img-top " alt="...">
            <h5 class="title-card">Fifa 21</h5>

            <div class="card-body secondary1">
              <p class="wt card-text">Modo 11vs11</p>
              <p class="wt card-text">Región: Europa</p>
              <p class="wt card-text">Fecha: 1, feb, 2021. 18:00</p>
              <p class="wt card-text">Premios: 100/50/20 puntos</p>
              <a class="btn but1" data-toggle="modal" data-target="#modalFifa">Apúntate</a>
              <a class="btn but2" data-toggle="modal" data-target="#reglasFifa11v11">Reglas</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 secondary2 ">
        <div class="secondary2">
          <div class="ranking-torneo">
            <h1 class="text-center title-ranking">RANKING</h1>
            <img class="trofeo" [src]="trofeo">
          </div>
          <div class="center">
            <img type="button" class="trofeo1" (click)="fifa=false" (click)="lol=true" [src]="lolLogo">
            <img type="button" class="logoFifa" (click)="fifa=true" (click)="lol=false" [src]="fifaLogo">
          </div>
        </div>
        <div class="secondary1">
          <div *ngIf="lol==true" class="text-center wt-torneo display-4 font-weight-normal">
            <h1 class="title-torneo">LoL</h1>
            <ol>
              <li>Faker (500pts)</li>
              <li>Caps (450pts)</li>
              <li>MisterYoyas (350pts)</li>
              <li>Mosquit0 (300pts)</li>
              <li>Toky0dragon (280pts)</li>
              <li>Shendo (250pts)</li>
            </ol>
          </div>
          <div *ngIf="fifa==true" class="text-center wt-torneo display-4 font-weight-normal">
            <h1 class="title-torneo">Fifa</h1>
            <ol>
              <li>Luiso (500pts)</li>
              <li>Surikato (450pts)</li>
              <li>Paquito (350pts)</li>
              <li>Drk (300pts)</li>
              <li>Toky0dragon (280pts)</li>
              <li>Shendo (250pts)</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalFifa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Selecciona un equipo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Tus equipos</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Equipo 1</option>
              <option>Equipo 2</option>
              <option>Equipo 3</option>
              <option>Equipo 4</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Apuntar equipo</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalLol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Selecciona un equipo de lol</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Tus equipos</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Equipo 1</option>
              <option>Equipo 2</option>
              <option>Equipo 3</option>
              <option>Equipo 4</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Apuntar equipo</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="reglasLol5v5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reglas League of Legends 5vs5</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <p>1.Información General <br>
              2.Cuentas <br>
              <br>
              Para la participación en cualquier evento online es necesario el tener indicado en la configuración del
              perfil el Game ID (Nombre de Invocador) correspondiente. Es responsabilidad de cada jugador que el valor
              indicado en cada caso sea correcto. Tener un Game ID mal cumplimentado puede suponer la expulsión de la
              competición. <br>

              2.1.Jugador <br>
              <br>
              Cada jugador, únicamente, puede poseer una cuenta en la web. Este puede configurar su cuenta como desee,
              siempre y cuando los datos introducidos sean reales y veraces.<br>

              Para la participación en cualquier torneo/evento online es necesario tener introducido tu “GameID” en la
              configuración del perfil. Paso importante a realizar ya que tener un “GameID” mal introducido puede
              suponer su expulsión de la competición, o en su defecto, la de su equipo.

              Únicamente, un jugador/equipo no será expulsado de la competición si el correspondiente “GameID” está mal
              cumplimentado debido a la introducción del TAG y no el “GameID” o un mínimo fallo en cuanto a caracteres
              sobre el “GameID” original. Obviamente este jugador/equipo será advertido por la organización de que su
              incorrecta cumplimentación de los datos, los cuales deberá corregir con la mayor brevedad posible.
              Solamente podrá tener mal introducido su “GameID” una persona por equipo. De no ser así, tener a varios
              jugadores con su “GameID” mal introducido, por pequeños que sean los errores, acarrearán las medidas
              expuestas con anterioridad.<br>

              Es, totalmente, responsabilidad de cada jugador que el valor introducido en cada paso sea correcto. Si
              esto repercute a un equipo, la responsabilidad recae sobre este, sufriendo así las consecuencias.<br>

              <br>
              2.2.1.Capitán <br>
              <br>
              Cada equipo deberá tener uno o varios capitanes, estos tendrán la posibilidad de abrir protestas para
              mantener una línea directa con la administración y resolver encuentros con rivales no presentados,
              incumplimientos del reglamento u otras cuestiones.<br>

              Este se encargará de que los miembros de su equipo tengan introducidos correctamente el “Nombre de
              Invocador” de forma correcta. Recordamos que este procedimientos es muy importante, ya que un equipo que
              juegue con un jugador el cual no tenga su "GameID" introducido, acarreará una derrota en su
              enfrentamiento, junto a la descalificación de la competición.<br>
              <br>
              2.2.2.Miembros <br>
              <br>
              Cada miembro del clan es un jugador, por lo que deberá cumplir con todo los expuesto en el punto 2.1.<br>

              Todos los miembros del equipo pueden inscribir un equipo en cualquier competición siempre y cuando cumpla
              los requisitos básicos.<br>

              Un jugador nunca podrá competir con dos equipos diferentes en una misma competición. Si esto se detecta el
              jugador será sancionado y los equipos expulsados de la competición.<br>

              Queda totalmente prohibido añadir nuevos miembros al equipo durante el trascurso de un torneo. En caso de
              realizarse esta acción, dicho equipo será expulsado de la competición inmediatamente.<br>
              <br>
              3.Competiciones<br>
              <br>
              3.1.Modo de juego<br>
              <br>
              El torneo será disputado en el modo “Torneo de Reclutamiento” y se jugarán en “La Grieta del
              Invocador”.<br>

              El ganador de cada partida será el equipo que consiga uno de los siguientes objetivos:<br>
              • El equipo rival se rinda (surrender).<br>
              • Uno de los equipos destruye la base del equipo rival.<br>
              <br>
              3.2.Primera elección (First Pick)<br>
              <br>
              El equipo que disponga de un mejor seeding, o en su defecto esté situado en la parte izquierda del
              enfrentamiento y en la parte superior en el cuadro de enfrentamientos, tendrá “First Pick””.<br>

              En el caso de que el torneo o la eliminatoria se disputen al mejor de tres o cinco partidas se irán
              alternando las opciones no pudiendo repetir opción consecutivamente.<br>
              <br>
              4.Procedimiento del partido<br>
              <br>
              4.1.Antes del partido<br>
              <br>
              4.1.1.Ficha del partido<br>
              Cuando un torneo comienza, automáticamente se crea en la web el partido en donde los jugadores de cada
              equipo podrán: <br>
              • Visualizar el “Nombre de Invocador” de cada uno de los miembros de ambos equipos. <br>
              • Hablar con sus contrincantes por medio de comentarios. Estos comentarios solo podrán ser visualizados
              por los integrantes del partido, es decir los miembros de ambos equipos, o en su defecto, si el encuentro
              es individual, ambos jugadores. <br>
              • Introducir el resultado del partido. <br>
              • Abrir una protesta. <br>
              <br>
              4.1.2.Creador de la partida <br>
              <br>
              El encargado de crear la partida será el jugado que esté situado en la parte superior en el cuadro de
              enfrentamientos. Si por cualquier motivo ambos llegáis a un acuerdo y la crea el otro jugador/equipo no
              existe ningún problema. <br>

              Las características que la partida debe contener están expuestas en el siguiente punto.<br>
              <br>
              4.1.3.Configuración del servidor<br>
              <br>
              La configuración de la partida deberá tener las siguientes características: <br>
              • Nombre de la partida: Jugador/Equipo 1 vs Jugador/Equipo 2 <br>
              • Ubicación del servidor: Europa Oeste (EU West) <br>
              • Mapa: La Grieta del Invocador <br>
              • Modo de juego: Torneo de Reclutamiento <br>
              • Equipo inicial: (PUNTO 3.2) <br>
              • Espectadores: Todos<br>
              <br>
              4.1.4.Tiempo de espera / no presentado<br>
              <br>
              Cuando uno de los dos jugadores/equipos no se presente, se conceden 15 minutos de cortesía para que éste
              se presente. Si después de este tiempo no aparece, se le adjudicará una victoria por defecto (defwin) al
              jugador/equipo que está presente en ese enfrentamiento. Dicho jugador/equipo presente, debe hacer constar
              esto a los organizadores, mediante una protesta del tipo "Oponente no presentado", comunicando a los
              árbitros que su rival no ha aparecido y estos actúen en consecuencia.
              <br>
              Si por cualquier motivo hace falta entregar pruebas. El capitan del equipo presente deberá enviar una
              captura de pantalla de la partida creada, en la cual deberá verse el nombre de la partida, la invitación
              al equipo rival, y la hora.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="reglasLol1v1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reglas League of Legends 1vs1</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <p>1.Información General <br>
              2.Cuentas <br>
              <br>
              Para la participación en cualquier evento online es necesario el tener indicado en la configuración del
              perfil el Game ID (Nombre de Invocador) correspondiente. Es responsabilidad de cada jugador que el valor
              indicado en cada caso sea correcto. Tener un Game ID mal cumplimentado puede suponer la expulsión de la
              competición. <br>

              2.1.Jugador <br>
              <br>
              Cada jugador, únicamente, puede poseer una cuenta en la web. Este puede configurar su cuenta como desee,
              siempre y cuando los datos introducidos sean reales y veraces.<br>

              Para la participación en cualquier torneo/evento online es necesario tener introducido tu “GameID” en la
              configuración del perfil. Paso importante a realizar ya que tener un “GameID” mal introducido puede
              suponer su expulsión de la competición, o en su defecto, la de su equipo.

              Únicamente, un jugador/equipo no será expulsado de la competición si el correspondiente “GameID” está mal
              cumplimentado debido a la introducción del TAG y no el “GameID” o un mínimo fallo en cuanto a caracteres
              sobre el “GameID” original. Obviamente este jugador/equipo será advertido por la organización de que su
              incorrecta cumplimentación de los datos, los cuales deberá corregir con la mayor brevedad posible.
              Solamente podrá tener mal introducido su “GameID” una persona por equipo. De no ser así, tener a varios
              jugadores con su “GameID” mal introducido, por pequeños que sean los errores, acarrearán las medidas
              expuestas con anterioridad.<br>

              Es, totalmente, responsabilidad de cada jugador que el valor introducido en cada paso sea correcto. Si
              esto repercute a un equipo, la responsabilidad recae sobre este, sufriendo así las consecuencias.<br>

              <br>
              3.Competiciones<br>
              <br>
              3.1.Modo de juego<br>
              <br>
              El torneo será disputado en el modo “Torneo de Reclutamiento” y se jugarán en “El abismo de los
              lamentos.<br>

              El ganador de cada partida será el jugador que consiga uno de los siguientes objetivos:<br>
              • El equipo rival se rinda (surrender).<br>
              • Uno de los equipos destruye la primera torre del rival.<br>
              • Conseguir un total de dos eliminaciones.<br>
              <br>
              3.2.Elección<br>
              <br>
              La fase de pick y bans será Blind Mode
              <br>
              4.Procedimiento del partido<br>
              <br>
              4.1.Antes del partido<br>
              <br>
              4.1.1.Ficha del partido<br>
              Cuando un torneo comienza, automáticamente se crea en la web el partido en donde los jugadores de cada
              equipo podrán: <br>
              • Visualizar el “Nombre de Invocador” de cada uno de los miembros de ambos equipos. <br>
              • Hablar con sus contrincantes por medio de comentarios. Estos comentarios solo podrán ser visualizados
              por los integrantes del partido, es decir los miembros de ambos equipos, o en su defecto, si el encuentro
              es individual, ambos jugadores. <br>
              • Introducir el resultado del partido. <br>
              • Abrir una protesta. <br>
              <br>
              4.1.2.Creador de la partida <br>
              <br>
              El encargado de crear la partida será el jugado que esté situado en la parte superior en el cuadro de
              enfrentamientos. Si por cualquier motivo ambos llegáis a un acuerdo y la crea el otro jugador/equipo no
              existe ningún problema. <br>

              Las características que la partida debe contener están expuestas en el siguiente punto.<br>
              <br>
              4.1.3.Configuración del servidor<br>
              <br>
              La configuración de la partida deberá tener las siguientes características: <br>
              • Nombre de la partida: Jugador/Equipo 1 vs Jugador/Equipo 2 <br>
              • Ubicación del servidor: Europa Oeste (EU West) <br>
              • Mapa: El abismo de los lamentos <br>
              • Modo de juego: Blind Mode <br>
              • Equipo inicial: (PUNTO 3.2) <br>
              • Espectadores: Todos<br>
              <br>
              4.1.4.Tiempo de espera / no presentado<br>
              <br>
              Cuando uno de los dos jugadores/equipos no se presente, se conceden 15 minutos de cortesía para que éste
              se presente. Si después de este tiempo no aparece, se le adjudicará una victoria por defecto (defwin) al
              jugador/equipo que está presente en ese enfrentamiento. Dicho jugador/equipo presente, debe hacer constar
              esto a los organizadores, mediante una protesta del tipo "Oponente no presentado", comunicando a los
              árbitros que su rival no ha aparecido y estos actúen en consecuencia.
              <br>
              Si por cualquier motivo hace falta entregar pruebas. El capitan del equipo presente deberá enviar una
              captura de pantalla de la partida creada, en la cual deberá verse el nombre de la partida, la invitación
              al equipo rival, y la hora.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="reglasFifa1v1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reglas Fifa 1vs1</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <p>1.Información General <br>
              2.Presentación <br>
              <br>
              2.1.Asistencia <br>
              <br>
              Tienes 10 minutos para poder presentarte en el chat de la hoja de partido a partir de la hora indicada en
              "Fecha de juego". Una vez finalizado este tiempo el rival podrá reportar como “Rival no presentado”. <br>
              <br>
              2.2.Nombre de usuario<br>
              <br>
              El ID de los jugadores tiene que ser exactamente igual en la web como en el cliente de juego. En el caso
              que no coincida en su totalidad será decisión del administrador si ese jugador puede disputar o no los
              partidos. <br>
              <br>
              3.Creación de partida y restricciones<br>
              <br>
              3.1.Creación de partida. <br>
              <br>
              Los partidos se deben jugar siguiendo el siguiente procedimiento: <br>

              • Agregar la ID del jugador rival a tu cuenta. <br>
              • El jugador que aparezca en la parte superior de la tabla deberá crear una Temporada Amistosa Online en
              la sección de FIFA Ultimate Team e invitar al rival. <br>
              • Se deberá seguir las normas estipuladas por el torneo. <br>
              <br>
              3.2. Configuración y funcionamiento. <br>
              <br>
              Los desafíos se deben crear con la siguiente configuración y con las plantillas actualizadas. <br>

              • Duración: 6 minutos por parte. <br>
              • Tipo de partida: FIFA Ultimate Team. <br>
              • Controles: Semiasistidos<br>
              • Velocidad de juego: Normal<br>
              • Tiempo: Sol / Despejado<br>
              • En caso de empate se deberá jugar prórroga y penaltis<br>
              <br>
              Está prohibido el uso de la defensa clásica.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="reglasFifa11v11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reglas Fifa 11vs11</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <p>1.Información General <br>
              2.Presentación <br>
              <br>
              2.1.Asistencia <br>
              <br>
              El equipo entero tiene 10 minutos para poder presentarte en el chat de la hoja de partido a partir de la
              hora indicada en "Fecha de juego". Una vez finalizado este tiempo el rival podrá reportar como “Rival no
              presentado”. <br>
              <br>
              2.2.Nombre de usuarios<br>
              <br>
              El ID de los jugadores tiene que ser exactamente igual en la web como en el cliente de juego. En el caso
              que no coincida en su totalidad será decisión del administrador si ese jugador puede disputar o no los
              partidos. <br>
              <br>
              3.Creación de partida y restricciones<br>
              <br>
              3.1.Creación de partida. <br>
              <br>
              Los partidos se deben jugar siguiendo el siguiente procedimiento: <br>

              • Agregar la ID del jugador rival a tu cuenta. <br>
              • El equipo que aparezca en la parte superior de la tabla deberá crear una Temporada Amistosa Online en la
              sección de FIFA Ultimate Team e invitar al rival. <br>
              • Se deberá seguir las normas estipuladas por el torneo. <br>
              <br>
              3.2. Configuración y funcionamiento. <br>
              <br>
              Los desafíos se deben crear con la siguiente configuración y con las plantillas actualizadas. <br>

              • Duración: 6 minutos por parte. <br>
              • Tipo de partida: FIFA Ultimate Champions. <br>
              • Controles: Semiasistidos<br>
              • Velocidad de juego: Normal<br>
              • Tiempo: Sol / Despejado<br>
              • En caso de empate se deberá jugar prórroga y penaltis<br>
              <br>
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

<!-- <app-footer></app-footer> -->
