<!-- <app-header></app-header> -->
<!-- #0d1234 -->
<div class="top-margin"></div>

<div class="position-relative overflow-hidden">
  <div class="row">
    <div
      class="col-xs-10 col-xl-8 col-lg-10 col-md-12 secondary1 animate__animated animate__bounceInLeft justify-content-center">
      <div class="row text-center">
        <div class="col-md-5">
          <div class="hover01 card card1 bg-dark" style="width: 20rem;">
            <figure>
              <img [src]="imageAshe" class="card-img-top" alt="...">
            </figure>
            <h5 class="title-card one-edge-shadow">League of legends </h5>
            <div class="card-body bg-dark">
              <div class="card-description">
                <p class="wt card-text">Modo 5vs5</p>
                <p class="wt card-text">Región: EUW</p>
                <p class="wt card-text">Grieta del invocador</p>
                <p class="wt card-text">Fecha: 1, feb, 2021. 18:00</p>
                <p class="wt card-text">Premios: 100/50/20 puntos</p>
              </div>
              <div class="botones">
                <a class="btn but1" data-toggle="modal" data-target="#modalLol">Apúntate</a>
                <a class="btn but2" data-toggle="modal" data-target="#reglasLol5v5">Reglas</a>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-5">
          <div class="hover01 card card1 bg-dark" style="width: 20rem;">
            <figure>
              <img [src]="imageJhin" class="card-img-top" alt="...">
            </figure>
            <h5 class="title-card one-edge-shadow">League of legens</h5>
            <div class="card-body bg-dark">
              <div class="card-description">
                <p class="wt card-text">Modo 1vs1</p>
                <p class="wt card-text">Región: EUW</p>
                <p class="wt card-text">Abismo de los lamentos</p>
                <p class="wt card-text">Fecha: 2, feb, 2021. 18:00</p>
                <p class="wt card-text">Premios: 100/50/20 puntos</p>
              </div>
              <div class="botones">
                <a href="#" id="1vs1" class="btn but1" data-toggle="modal" data-target="#confirmacion1VS1">Apúntate</a>
                <a class="btn but2" data-toggle="modal" data-target="#reglasLol1v1">Reglas</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="hover01 card card1 bg-dark" style="width: 20rem;">
            <figure>
              <img [src]="fifa1vs1" class="card-img-top " alt="...">
            </figure>
            <h5 class="title-card one-edge-shadow">Fifa 21</h5>
            <div class="card-body bg-dark">
              <div class="card-description">
                <p class="wt card-text">Modo 1vs1</p>
                <p class="wt card-text">Región: Europa</p>
                <p class="wt card-text">Fecha: 1, feb, 2021. 18:00</p>
                <p class="wt card-text">Premios: 100/50/20 puntos</p>
              </div>
              <div class="botones">
                <a href="#" id="1vs1" class="btn but1" data-toggle="modal" data-target="#confirmacion1VS1">Apúntate</a>
                <a class="btn but2" data-toggle="modal" data-target="#reglasFifa1v1">Reglas</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="hover01 card card1 bg-dark" style="width: 20rem;">
            <figure>
              <img [src]="fifa11vs11" class="card-img-top " alt="...">
            </figure>

            <h5 class="title-card one-edge-shadow">Fifa 21</h5>
            <div class="card-body bg-dark">
              <div class="card-description">
                <p class="wt card-text">Modo 11vs11</p>
                <p class="wt card-text">Región: Europa</p>
                <p class="wt card-text">Fecha: 1, feb, 2021. 18:00</p>
                <p class="wt card-text">Premios: 100/50/20 puntos</p>
              </div>
              <div class="botones">
                <a class="btn but1" data-toggle="modal" data-target="#modalFifa">Apúntate</a>
                <a class="btn but2" data-toggle="modal" data-target="#reglasFifa11v11">Reglas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-xl-4 col-md-12 col-xl-4 secondary2" style="padding-left: 0px;">
      <div class="secondary2">
        <div class="ranking-torneo one-edge-shadow">
          <h1 class="text-center title-ranking"><i class="fa fa-medal fa-lg"></i> RANKING <i
              class="fa fa-medal fa-lg"></i></h1>

        </div>
        <!-- <div class="games-logo">
          <div class="cuerpo-logo">
            <img type="button" id="clickranking" class="logo-ranking" (click)="fifa=false" (click)="lol=true" [src]="lolLogo">
          </div>
          <div class="cuerpo-logo">
            <img type="button" id="clickranking" class="logo-ranking" (click)="fifa=true" (click)="lol=false" [src]="fifaLogo">
          </div>
        </div> -->
      </div>
      <div  *ngIf="user" class="l-wrapper animate__animated animate__backInRight">

        <div class="l-grid">
          <div class="l-grid__item">
            <div class="c-card" *ngIf="userlogin">
              <div class="c-card__body">
                <div class="u-display--flex u-justify--space-between">
                  <div class="u-text--left">
                    <div class="u-text--small">
                      Mi Posicion
                    </div>
                    <h4>
                      #{{yourNumberTop}}
                    </h4>
                  </div>
                  <div class="u-text--right">
                    <div class="u-text--small">
                      Mis Puntos
                    </div>
                    <h4>
                      {{yourRankTop.puntuacion}}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-card">
              <div class="c-card__body">
                <div class="u-text--center" id="winner">
                  <div class="u-text-small u-text--medium u-mb--16">Jugador TOP de la semana</div>
                  <div class="border-media">
                    <img src="{{topOne.url_perfil}}" width="80px">
                  </div>
                  <h3 class="u-mt--16 bold">{{topOne.nombre}} {{topOne.apellido}}</h3>
                  <a class="c-media__link u-text--small justify-content-center" (click)="goPerfil(topOne.nickname)"
                  target="_blank">@{{topOne.nickname}}</a>
                </div>
              </div>
            </div>
            <div class="c-card">
              <div class="c-card__header">
                <h3>
                  TOP 5 - JUGADORES
                </h3>

              </div>
              <div class="c-card__body">
                <ul class="c-list" id="list">
                  <li class="c-list__item">
                    <div class="c-list__grid">
                      <div class="u-text--left u-text--small u-text--medium">
                        #
                      </div>
                      <div class="u-text--left u-text--small u-text--medium">
                        <a (click)="changeEquipo()">JUGADOR</a> / <a (click)="changeEquipo()">EQUIPO</a>
                      </div>
                      <div class="u-text--right u-text--small u-text--medium">
                        PUNTOS
                      </div>
                    </div>
                  </li>
                  <li class="c-list__item" *ngFor="let dataTop10 of dataTop10; let i = index">
                    <div class="c-list__grid">
                      <div class="c-flag c-place">{{i+1}}</div>
                      <div class="c-media">
                        <div class="border-media">
                          <img class="c-avatar c-media__img" src="{{dataTop10.url_perfil}}" width="40px">
                        </div>
                        <div class="c-media__content">
                          <div class="c-media__title float-left">{{dataTop10.nombre}} {{dataTop10.apellido}}</div>
                          <a class="c-media__link u-text--small float-left" (click)="goPerfil(dataTop10.nickname)"  target="_blank">
                           @{{dataTop10.nickname}}</a>
                        </div>
                      </div>
                      <div class="u-text--right c-kudos">
                        <div class="u-mt--8">
                          <strong>{{dataTop10.puntuacion}}</strong>
                        </div>
                      </div>
                    </div>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  *ngIf="team" class="l-wrapper animate__animated animate__backInRight">

        <div class="l-grid">
          <div class="l-grid__item">
            <div class="c-card">
              <div class="c-card__body">
                <div class="u-display--flex u-justify--space-between">
                  <div class="u-text--left">
                    <div class="u-text--small">
                      Posicion
                    </div>
                    <h4>
                      #3
                    </h4>
                  </div>
                  <div class="u-text--right">
                    <div class="u-text--small">
                      Mis Puntos
                    </div>
                    <h4>
                      500
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-card">
              <div class="c-card__body">
                <div class="u-text--center" id="winner">
                  <div class="u-text-small u-text--medium u-mb--16">Equipo TOP de la semana</div>
                  <div class="border-media">
                    <img src="{{teamTopOne.logo}}" width="80px">
                  </div>
                  <h3 class="u-mt--16 bold">{{teamTopOne.nombre}}</h3>
                  <!-- <a class="c-media__link u-text--small justify-content-center" href="https://instagram.com/carlossainz55"
                  target="_blank">@{{teamTopOne.}}</a> -->
                </div>
              </div>
            </div>
            <div class="c-card">
              <div class="c-card__header">
                <h3>
                TOP 5 - EQUIPOS
                </h3>

              </div>
              <div class="c-card__body">
                <ul class="c-list" id="list">
                  <li class="c-list__item">
                    <div class="c-list__grid">
                      <div class="u-text--left u-text--small u-text--medium">
                        #
                      </div>
                      <div class="u-text--left u-text--small u-text--medium">
                        <a (click)="changeEquipo()">JUGADOR</a> / <a (click)="changeEquipo()">EQUIPO</a>
                      </div>
                      <div class="u-text--right u-text--small u-text--medium">
                        PUNTOS
                      </div>
                    </div>
                  </li>
                  <li class="c-list__item" *ngFor="let dataTeamTop5 of dataTeamTop5; let i = index">
                    <div class="c-list__grid">
                      <div class="c-flag c-place">{{i+1}}</div>
                      <div class="c-media">
                        <div class="border-media">
                          <img class="c-avatar c-media__img" src="{{dataTeamTop5.logo}}" width="40px">
                        </div>
                        <div class="c-media__content">
                          <div class="c-media__title float-left">{{dataTeamTop5.nombre}}</div>
                          <a class="c-media__link u-text--small float-left" (click)="goPerfil(dataTeamTop5.capitan_nickname)"  target="_blank">@{{dataTeamTop5.capitan_nickname}}</a>
                        </div>
                      </div>
                      <div class="u-text--right c-kudos">
                        <div class="u-mt--8">
                          <strong>{{dataTeamTop5.puntuacion}}</strong>
                        </div>
                      </div>
                    </div>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="ranking-all">
        <div *ngIf="lol==true" class="torneo-ranking">
          <div class="cuerpo-users-ranking">
            <div class="ranking-game">
              <h1 class="title-torneo">LoL</h1>
            </div>
            <div class="ranking-users">
              <div class="ranking-numero">
                1
              </div>

              <div class="ranking-user">
                <div class="ranking-user-image"><img class="image-user-ranking" [src]="imgSrc"></div>

                <div class="ranking-user-name">JAJA</div>
              </div>
              <div class="ranking-points">
                as
              </div>
            </div>
             <ol>
              <li><a routerLink="/perfil-user">Faker (500pts)</a></li>
              <li><a routerLink="/perfil-user">Caps (450pts)</a></li>
              <li><a routerLink="/perfil-user">MisterYoyas (350pts)</a></li>
              <li><a routerLink="/perfil-user">Mosquit0 (300pts)</a></li>
              <li><a routerLink="/perfil-user">Toky0dragon (280pts)</a></li>
              <li><a routerLink="/perfil-user">Shendo (250pts)</a></li>
            </ol>
          </div>
        </div>
        <div *ngIf="fifa==true" class="torneo-ranking">
          <div class="cuerpo-users-ranking">

            <h1 class="title-torneo">Fifa</h1>
            <ol>
              <li><a routerLink="/perfil-user">Luiso (500pts)</a></li>
              <li><a routerLink="/perfil-user">Surikato (450pts)</a></li>
              <li><a routerLink="/perfil-user">Paquito (350pts)</a></li>
              <li><a routerLink="/perfil-user">Drk (300pts)</a></li>
              <li><a routerLink="/perfil-user">Toky0dragon (280pts)</a></li>
              <li><a routerLink="/perfil-user">Shendo (250pts)</a></li>
            </ol>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="modal fade" id="modalFifa" tabindex="-1" role="dialog" aria-labelledby="modalFifaLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFifaLabel">Selecciona un equipo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tus equipos</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Equipo 1</option>
            <option>Equipo 2</option>
            <option>Equipo 3</option>
            <option>Equipo 4</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <a class="s-menu-mobile-cancel uppercase" data-dismiss="modal">Cancelar</a>
        <a class="s-menu-mobile-register uppercase">Apuntar equipo</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalLol" tabindex="-1" role="dialog" aria-labelledby="modalLolLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLolLabel">Selecciona un equipo de lol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tus equipos</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Equipo 1</option>
            <option>Equipo 2</option>
            <option>Equipo 3</option>
            <option>Equipo 4</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="s-menu-mobile-cancel uppercase" data-dismiss="modal">Cancelar</button>
        <button type="button" class="s-menu-mobile-register uppercase">Apuntar equipo</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="reglasLol5v5" tabindex="-1" role="dialog" aria-labelledby="reglasLol5v5Label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reglasLol5v5Label">Reglas League of Legends 5vs5</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>1.Información General <br>
            2.Cuentas <br>
            <br>
            Para la participación en cualquier evento online es necesario el tener indicado en la configuración del
            perfil el Game ID (Nombre de Invocador) correspondiente. Es responsabilidad de cada jugador que el valor
            indicado en cada caso sea correcto. Tener un Game ID mal cumplimentado puede suponer la expulsión de la
            competición. <br>

            2.1.Jugador <br>
            <br>
            Cada jugador, únicamente, puede poseer una cuenta en la web. Este puede configurar su cuenta como desee,
            siempre y cuando los datos introducidos sean reales y veraces.<br>

            Para la participación en cualquier torneo/evento online es necesario tener introducido tu “GameID” en la
            configuración del perfil. Paso importante a realizar ya que tener un “GameID” mal introducido puede
            suponer su expulsión de la competición, o en su defecto, la de su equipo.

            Únicamente, un jugador/equipo no será expulsado de la competición si el correspondiente “GameID” está mal
            cumplimentado debido a la introducción del TAG y no el “GameID” o un mínimo fallo en cuanto a caracteres
            sobre el “GameID” original. Obviamente este jugador/equipo será advertido por la organización de que su
            incorrecta cumplimentación de los datos, los cuales deberá corregir con la mayor brevedad posible.
            Solamente podrá tener mal introducido su “GameID” una persona por equipo. De no ser así, tener a varios
            jugadores con su “GameID” mal introducido, por pequeños que sean los errores, acarrearán las medidas
            expuestas con anterioridad.<br>

            Es, totalmente, responsabilidad de cada jugador que el valor introducido en cada paso sea correcto. Si
            esto repercute a un equipo, la responsabilidad recae sobre este, sufriendo así las consecuencias.<br>

            <br>
            2.2.1.Capitán <br>
            <br>
            Cada equipo deberá tener uno o varios capitanes, estos tendrán la posibilidad de abrir protestas para
            mantener una línea directa con la administración y resolver encuentros con rivales no presentados,
            incumplimientos del reglamento u otras cuestiones.<br>

            Este se encargará de que los miembros de su equipo tengan introducidos correctamente el “Nombre de
            Invocador” de forma correcta. Recordamos que este procedimientos es muy importante, ya que un equipo que
            juegue con un jugador el cual no tenga su "GameID" introducido, acarreará una derrota en su
            enfrentamiento, junto a la descalificación de la competición.<br>
            <br>
            2.2.2.Miembros <br>
            <br>
            Cada miembro del clan es un jugador, por lo que deberá cumplir con todo los expuesto en el punto 2.1.<br>

            Todos los miembros del equipo pueden inscribir un equipo en cualquier competición siempre y cuando cumpla
            los requisitos básicos.<br>

            Un jugador nunca podrá competir con dos equipos diferentes en una misma competición. Si esto se detecta el
            jugador será sancionado y los equipos expulsados de la competición.<br>

            Queda totalmente prohibido añadir nuevos miembros al equipo durante el trascurso de un torneo. En caso de
            realizarse esta acción, dicho equipo será expulsado de la competición inmediatamente.<br>
            <br>
            3.Competiciones<br>
            <br>
            3.1.Modo de juego<br>
            <br>
            El torneo será disputado en el modo “Torneo de Reclutamiento” y se jugarán en “La Grieta del
            Invocador”.<br>

            El ganador de cada partida será el equipo que consiga uno de los siguientes objetivos:<br>
            • El equipo rival se rinda (surrender).<br>
            • Uno de los equipos destruye la base del equipo rival.<br>
            <br>
            3.2.Primera elección (First Pick)<br>
            <br>
            El equipo que disponga de un mejor seeding, o en su defecto esté situado en la parte izquierda del
            enfrentamiento y en la parte superior en el cuadro de enfrentamientos, tendrá “First Pick””.<br>

            En el caso de que el torneo o la eliminatoria se disputen al mejor de tres o cinco partidas se irán
            alternando las opciones no pudiendo repetir opción consecutivamente.<br>
            <br>
            4.Procedimiento del partido<br>
            <br>
            4.1.Antes del partido<br>
            <br>
            4.1.1.Ficha del partido<br>
            Cuando un torneo comienza, automáticamente se crea en la web el partido en donde los jugadores de cada
            equipo podrán: <br>
            • Visualizar el “Nombre de Invocador” de cada uno de los miembros de ambos equipos. <br>
            • Hablar con sus contrincantes por medio de comentarios. Estos comentarios solo podrán ser visualizados
            por los integrantes del partido, es decir los miembros de ambos equipos, o en su defecto, si el encuentro
            es individual, ambos jugadores. <br>
            • Introducir el resultado del partido. <br>
            • Abrir una protesta. <br>
            <br>
            4.1.2.Creador de la partida <br>
            <br>
            El encargado de crear la partida será el jugado que esté situado en la parte superior en el cuadro de
            enfrentamientos. Si por cualquier motivo ambos llegáis a un acuerdo y la crea el otro jugador/equipo no
            existe ningún problema. <br>

            Las características que la partida debe contener están expuestas en el siguiente punto.<br>
            <br>
            4.1.3.Configuración del servidor<br>
            <br>
            La configuración de la partida deberá tener las siguientes características: <br>
            • Nombre de la partida: Jugador/Equipo 1 vs Jugador/Equipo 2 <br>
            • Ubicación del servidor: Europa Oeste (EU West) <br>
            • Mapa: La Grieta del Invocador <br>
            • Modo de juego: Torneo de Reclutamiento <br>
            • Equipo inicial: (PUNTO 3.2) <br>
            • Espectadores: Todos<br>
            <br>
            4.1.4.Tiempo de espera / no presentado<br>
            <br>
            Cuando uno de los dos jugadores/equipos no se presente, se conceden 15 minutos de cortesía para que éste
            se presente. Si después de este tiempo no aparece, se le adjudicará una victoria por defecto (defwin) al
            jugador/equipo que está presente en ese enfrentamiento. Dicho jugador/equipo presente, debe hacer constar
            esto a los organizadores, mediante una protesta del tipo "Oponente no presentado", comunicando a los
            árbitros que su rival no ha aparecido y estos actúen en consecuencia.
            <br>
            Si por cualquier motivo hace falta entregar pruebas. El capitan del equipo presente deberá enviar una
            captura de pantalla de la partida creada, en la cual deberá verse el nombre de la partida, la invitación
            al equipo rival, y la hora.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="s-menu-mobile-register uppercase" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="reglasLol1v1" tabindex="-1" role="dialog" aria-labelledby="reglasLol1v1Label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reglasLol1v1Label">Reglas League of Legends 1vs1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>1.Información General <br>
            2.Cuentas <br>
            <br>
            Para la participación en cualquier evento online es necesario el tener indicado en la configuración del
            perfil el Game ID (Nombre de Invocador) correspondiente. Es responsabilidad de cada jugador que el valor
            indicado en cada caso sea correcto. Tener un Game ID mal cumplimentado puede suponer la expulsión de la
            competición. <br>

            2.1.Jugador <br>
            <br>
            Cada jugador, únicamente, puede poseer una cuenta en la web. Este puede configurar su cuenta como desee,
            siempre y cuando los datos introducidos sean reales y veraces.<br>

            Para la participación en cualquier torneo/evento online es necesario tener introducido tu “GameID” en la
            configuración del perfil. Paso importante a realizar ya que tener un “GameID” mal introducido puede
            suponer su expulsión de la competición, o en su defecto, la de su equipo.

            Únicamente, un jugador/equipo no será expulsado de la competición si el correspondiente “GameID” está mal
            cumplimentado debido a la introducción del TAG y no el “GameID” o un mínimo fallo en cuanto a caracteres
            sobre el “GameID” original. Obviamente este jugador/equipo será advertido por la organización de que su
            incorrecta cumplimentación de los datos, los cuales deberá corregir con la mayor brevedad posible.
            Solamente podrá tener mal introducido su “GameID” una persona por equipo. De no ser así, tener a varios
            jugadores con su “GameID” mal introducido, por pequeños que sean los errores, acarrearán las medidas
            expuestas con anterioridad.<br>

            Es, totalmente, responsabilidad de cada jugador que el valor introducido en cada paso sea correcto. Si
            esto repercute a un equipo, la responsabilidad recae sobre este, sufriendo así las consecuencias.<br>

            <br>
            3.Competiciones<br>
            <br>
            3.1.Modo de juego<br>
            <br>
            El torneo será disputado en el modo “Torneo de Reclutamiento” y se jugarán en “El abismo de los
            lamentos.<br>

            El ganador de cada partida será el jugador que consiga uno de los siguientes objetivos:<br>
            • El equipo rival se rinda (surrender).<br>
            • Uno de los equipos destruye la primera torre del rival.<br>
            • Conseguir un total de dos eliminaciones.<br>
            <br>
            3.2.Elección<br>
            <br>
            La fase de pick y bans será Blind Mode
            <br>
            4.Procedimiento del partido<br>
            <br>
            4.1.Antes del partido<br>
            <br>
            4.1.1.Ficha del partido<br>
            Cuando un torneo comienza, automáticamente se crea en la web el partido en donde los jugadores de cada
            equipo podrán: <br>
            • Visualizar el “Nombre de Invocador” de cada uno de los miembros de ambos equipos. <br>
            • Hablar con sus contrincantes por medio de comentarios. Estos comentarios solo podrán ser visualizados
            por los integrantes del partido, es decir los miembros de ambos equipos, o en su defecto, si el encuentro
            es individual, ambos jugadores. <br>
            • Introducir el resultado del partido. <br>
            • Abrir una protesta. <br>
            <br>
            4.1.2.Creador de la partida <br>
            <br>
            El encargado de crear la partida será el jugado que esté situado en la parte superior en el cuadro de
            enfrentamientos. Si por cualquier motivo ambos llegáis a un acuerdo y la crea el otro jugador/equipo no
            existe ningún problema. <br>

            Las características que la partida debe contener están expuestas en el siguiente punto.<br>
            <br>
            4.1.3.Configuración del servidor<br>
            <br>
            La configuración de la partida deberá tener las siguientes características: <br>
            • Nombre de la partida: Jugador/Equipo 1 vs Jugador/Equipo 2 <br>
            • Ubicación del servidor: Europa Oeste (EU West) <br>
            • Mapa: El abismo de los lamentos <br>
            • Modo de juego: Blind Mode <br>
            • Equipo inicial: (PUNTO 3.2) <br>
            • Espectadores: Todos<br>
            <br>
            4.1.4.Tiempo de espera / no presentado<br>
            <br>
            Cuando uno de los dos jugadores/equipos no se presente, se conceden 15 minutos de cortesía para que éste
            se presente. Si después de este tiempo no aparece, se le adjudicará una victoria por defecto (defwin) al
            jugador/equipo que está presente en ese enfrentamiento. Dicho jugador/equipo presente, debe hacer constar
            esto a los organizadores, mediante una protesta del tipo "Oponente no presentado", comunicando a los
            árbitros que su rival no ha aparecido y estos actúen en consecuencia.
            <br>
            Si por cualquier motivo hace falta entregar pruebas. El capitan del equipo presente deberá enviar una
            captura de pantalla de la partida creada, en la cual deberá verse el nombre de la partida, la invitación
            al equipo rival, y la hora.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="s-menu-mobile-register uppercase" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="reglasFifa1v1" tabindex="-1" role="dialog" aria-labelledby="reglasFifa1v1Label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reglasFifa1v1Label">Reglas Fifa 1vs1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>1.Información General <br>
            2.Presentación <br>
            <br>
            2.1.Asistencia <br>
            <br>
            Tienes 10 minutos para poder presentarte en el chat de la hoja de partido a partir de la hora indicada en
            "Fecha de juego". Una vez finalizado este tiempo el rival podrá reportar como “Rival no presentado”. <br>
            <br>
            2.2.Nombre de usuario<br>
            <br>
            El ID de los jugadores tiene que ser exactamente igual en la web como en el cliente de juego. En el caso
            que no coincida en su totalidad será decisión del administrador si ese jugador puede disputar o no los
            partidos. <br>
            <br>
            3.Creación de partida y restricciones<br>
            <br>
            3.1.Creación de partida. <br>
            <br>
            Los partidos se deben jugar siguiendo el siguiente procedimiento: <br>

            • Agregar la ID del jugador rival a tu cuenta. <br>
            • El jugador que aparezca en la parte superior de la tabla deberá crear una Temporada Amistosa Online en
            la sección de FIFA Ultimate Team e invitar al rival. <br>
            • Se deberá seguir las normas estipuladas por el torneo. <br>
            <br>
            3.2. Configuración y funcionamiento. <br>
            <br>
            Los desafíos se deben crear con la siguiente configuración y con las plantillas actualizadas. <br>

            • Duración: 6 minutos por parte. <br>
            • Tipo de partida: FIFA Ultimate Team. <br>
            • Controles: Semiasistidos<br>
            • Velocidad de juego: Normal<br>
            • Tiempo: Sol / Despejado<br>
            • En caso de empate se deberá jugar prórroga y penaltis<br>
            <br>
            Está prohibido el uso de la defensa clásica.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="s-menu-mobile-register uppercase" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="reglasFifa11v11" tabindex="-1" role="dialog" aria-labelledby="reglasFifa11v11Label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reglasFifa11v11Label">Reglas Fifa 11vs11</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>1.Información General <br>
            2.Presentación <br>
            <br>
            2.1.Asistencia <br>
            <br>
            El equipo entero tiene 10 minutos para poder presentarte en el chat de la hoja de partido a partir de la
            hora indicada en "Fecha de juego". Una vez finalizado este tiempo el rival podrá reportar como “Rival no
            presentado”. <br>
            <br>
            2.2.Nombre de usuarios<br>
            <br>
            El ID de los jugadores tiene que ser exactamente igual en la web como en el cliente de juego. En el caso
            que no coincida en su totalidad será decisión del administrador si ese jugador puede disputar o no los
            partidos. <br>
            <br>
            3.Creación de partida y restricciones<br>
            <br>
            3.1.Creación de partida. <br>
            <br>
            Los partidos se deben jugar siguiendo el siguiente procedimiento: <br>

            • Agregar la ID del jugador rival a tu cuenta. <br>
            • El equipo que aparezca en la parte superior de la tabla deberá crear una Temporada Amistosa Online en la
            sección de FIFA Ultimate Team e invitar al rival. <br>
            • Se deberá seguir las normas estipuladas por el torneo. <br>
            <br>
            3.2. Configuración y funcionamiento. <br>
            <br>
            Los desafíos se deben crear con la siguiente configuración y con las plantillas actualizadas. <br>

            • Duración: 6 minutos por parte. <br>
            • Tipo de partida: FIFA Ultimate Champions. <br>
            • Controles: Semiasistidos<br>
            • Velocidad de juego: Normal<br>
            • Tiempo: Sol / Despejado<br>
            • En caso de empate se deberá jugar prórroga y penaltis<br>
            <br>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="s-menu-mobile-register uppercase" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>

<div class="putita modal fade" id="confirmacion1VS1" tabindex="-1" role="dialog" aria-labelledby="confirmacion1VS1Label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title uppercase" id="confirmacion1VS1Label">¡Se necesita confirmación!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>Confirmar que se ha leído las reglas y desea participar </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="s-menu-mobile-register uppercase" data-dismiss="modal">CONFIRMAR</button>
      </div>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->