.secondary1{
    background-color: #171c3e;
}
.secondary2{
    background-color: #0d153d;
}
.flex {
    display: flex;
}
.imagen{
    height: 100px;
    width: 280px;
}
.but1{
    color: white;
    background-color: #ff09d6;
}
.card1{
    margin-top: 40px;
    border:white 4px solid;
    margin-left: 125px;
}
p{
    font: oblique bold 120% cursive;
}
ol{
    font-size: x-large;
}
.divGrande{
    margin:flex;
    display: flex;
    margin-top: 50px;
}
.ranking{
    margin:flex;
    display: flex;
    float: right;
    margin-right: 60px;
}
.trofeo{
    margin-left: 30px;
    width: 100px;
    height: 100px;
}
.logoFifa{
    margin-top: 50px;
    margin-left: 40px;
    width: 150px;
    height: 100px;
}
.logos{
    margin-top: 170px;
    float: bottom;
}
.ranking1{
    margin:flex;
    float: right;
    margin-right: 60px;
}
.trofeo1{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 80px;
    width: 100px;
    height: 100px;
}
.wt{
    color: white;
}