.secondary1{
    background-color: #171c3e;
}
.secondary2{
    background-color: #0b0f2c;
    text-align: center;
}
.ranking-torneo{
    display: inline-flex;
    margin-top: 30px;
}
.title-ranking{
    font-weight: 700;
}
.flex {
    display: flex;
}
.imagen{
    height: 100px;
    width: 280px;
}
.but1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    background-color: #0b0f2c;

    /* background-color: #ff09d6; */
}
.card1{
    margin-top: 40px;
    margin-left: 125px;
    margin-bottom: 40px;
    box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.5);

}
.title-card{
    color: #fff;
    background: #0b0f2c;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
ol{
    font-size: x-large;
}
.divGrande{
    margin:flex;
    display: flex;
    margin-top: 50px;
}
.ranking{
    margin:flex;
    display: flex;
    float: right;
    margin-right: 60px;
}
.trofeo{
    margin-left: 30px;
    width: 60px;
    height: 60px;
}
.logoFifa{
    margin-top: 50px;
    margin-left: 40px;
    width: 150px;
    height: 100px;
}
.logos{
    margin-top: 170px;
    float: bottom;
}
.ranking1{
    margin:flex;
    float: right;
    margin-right: 60px;
}
.trofeo1{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 80px;
    width: 100px;
    height: 100px;
}
.wt{
    color: white;
}

.wt-torneo{
    padding: 20px;
    color:#fff;
}

.title-torneo{
    text-transform: uppercase;
    font-weight: bold;
}

.but2{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    background-color: #ff09d6;
    margin-left: 20px;
    /* background-color: #ff09d6; */
}