<header class="header-one">
    <!-- Start top bar -->

    <!-- End top bar -->
    <!-- header-area start -->
    <div id="sticker" class="header-area hidden-xs">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-md-3 col-sm-3">
                    <div class="logo">
                        <!-- Brand -->
                        <a class="navbar-brand " href="index.html">
                            <img [src]="imageSrc" width="80px" alt="">
                        </a>
                    </div>
                    <!-- logo end -->
                </div>
                <div class="col-md-9 col-sm-9">
                    <!-- <div class="header-right-link">
                        
                        <a class="login-user" href="login.html">
                            <i class="fa fa-user fa-lg"></i> <span class="entrar">ENTRAR</span>
                        </a>
                    </div>
                    <div class="header-right-link" >
                        <a class="s-menu" href="login.html">REGISTRATE</a>
                    </div> -->

                    <div class="login-logged">
                        <a class="login-user" href="login.html">
                            <img [src]="imageSrc">
                            <div class="ag">
                                <a class="name">Luis Fernandez</a>
                                <div class="bajo">
                                    <a class="editprofile">Editar Perfil</a>
                                    <a class="logout">Salir</a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- mainmenu start -->
                    <!-- <nav class="navbar navbar-default">
                        <div class="collapse navbar-collapse" id="navbar-example">
                            <div class="main-menu">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="pagess" href="index.html">INICIO</a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Home 01</a></li>
                                            <li><a href="index-2.html">Home 02</a></li>
                                            <li><a href="index-3.html">Home 03</a></li>
                                        </ul>
                                    </li>                               
                                    <li><a href="contact.html">CONTACTO</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </nav> -->
                    <!-- mainmenu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <div class="logo">
                            <img [src]="imageSrc">
                        </div>
                        <nav id="dropdown">

                            <ul>
                                <li><a class="pagess" href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home 01</a></li>
                                        <li><a href="index-2.html">Home 02</a></li>
                                        <li><a href="index-3.html">Home 03</a></li>
                                    </ul>
                                </li>

                                <li><a href="contact.html">contacts</a></li>
                                <div class="mobile-log">


                                    <!-- <a class="s-menu-mobile" href="login.html">REGISTRATE</a>
                            <a class="login-user" href="login.html">

                                <i class="fa fa-user fa-lg"></i> <span class="entrar">ENTRAR</span>

                            </a> -->
                                    <div class="login-logged">
                                        <a class="login-user" href="login.html">
                                            <img [src]="imageSrc">
                                            <a class="name">Luis Fernandez</a>
                                            <div class="ag">
                                                
                                                <div class="bajo">
                                                    <a class="editprofile">Editar Perfil</a>
                                                    <a class="logout">Salir</a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area end -->
</header>


<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>
<p>ajjasjdajsd</p>