<body>
    <div *ngIf="!isMobileLayout" class="position-relative overflow-hidden">
        <div class="row">
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <h2>CUARTOS</h2>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <h2>SEMIFINAL</h2>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <h2>FINAL</h2>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <h2>CAMPEÓN</h2>
                </div>
            </div>
                <div class="col-xl-12 secondary1 fx">
                    <p class="pt">.</p>
                </div>
                <div class="col-xl-12 secondary1 fx">
                    <p class="pt">.</p>
                </div>
                <div class="col-xl-12 secondary1 fx">
                    <p class="pt">.</p>
                </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo A</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-9 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <a routerLink="">
                        <h3 class="pk"> 3-0</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo A</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 secondary1 fx">
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo B</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-9 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <a routerLink="">
                        <h3 class="pk"> 1-3</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo D</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo C</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-9 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <a routerLink="">
                        <h3 class="pk"> 2-3</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo D</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 secondary1 fx">
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo D</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-9 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <a routerLink="">
                        <h3 class="pk"> 3-2</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo D</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo E</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-9 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <a routerLink="">
                        <h3 class="pk"> 1-3</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo F</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 secondary1 fx">
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo F</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-9 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <a routerLink="">
                        <h3 class="pk"> 3-2</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo F</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo G</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-9 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary1">
                    <a routerLink="">
                        <h3 class="pk"> 0-3</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo H</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 secondary1 fx">
            </div>
            <div class="col-xl-3 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-9 secondary2">
                    <a routerLink="">
                        <h3>Equipo H</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-9 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
        </div>
    </div>
    <div *ngIf="isMobileLayout" class="position-relative overflow-hidden">
        <div class="row">
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-6 secondary2">
                    <h2>CUARTOS</h2>
                </div>
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo A</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-2 secondary2">
                    <a routerLink="">
                        <h3 class="pk"> 3-0</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo B</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo C</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-2 secondary2">
                    <a routerLink="">
                        <h3 class="pk"> 2-3</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo D</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo E</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-2 secondary2">
                    <a routerLink="">
                        <h3 class="pk"> 1-3</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo F</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo G</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-2 secondary2">
                    <a routerLink="">
                        <h3 class="pk"> 0-3</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo H</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-6 secondary2">
                    <h2>SEMIFINAL</h2>
                </div>
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo A</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-2 secondary2">
                    <a routerLink="">
                        <h3 class="pk"> 1-3</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo D</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo F</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-2 secondary2">
                    <a routerLink="">
                        <h3 class="pk"> 3-2</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo H</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-6 secondary2">
                    <h2>FINAL</h2>
                </div>
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo D</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-2 secondary2">
                    <a routerLink="">
                        <h3 class="pk"> 3-2</h3>
                    </a>
                </div>
                <div class="col-xl-1 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-4 secondary2">
                    <a routerLink="">
                        <h3>Equipo F</h3>
                    </a>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-6 secondary2">
                    <h2>CAMPEÓN</h2>
                </div>
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
                <div class="col-xl-6 secondary2">
                    <a routerLink="">
                        <h3 class="pk">Equipo D</h3>
                    </a>
                </div>
                <div class="col-xl-3 secondary1">
                    <p></p>
                </div>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
            <div class="col-xl-12 secondary1 fx">
                <p class="pt">.</p>
            </div>
        </div>
    </div>
</body>


<!-- <div class="col-xl-3 secondary1 fx">
    <div class="col-xl-3 secondary1">
        <p></p>
    </div>
    <div class="col-xl-9 secondary2">
        <h3>Equipo A</h3>
    </div>
</div>
<div class="col-xl-9 secondary1 fx">
    <p>.</p>
</div> -->

<!-- <a routerLink="">
    <h3>Equipo H</h3>
</a> -->