<div class="top-margin"></div>
<div class="container-bracket">

    <div class="tournament-bracket tournament-bracket--rounded">
    
        <div class="tournament-bracket__round tournament-bracket__round--quarterjorgeRals">
            <div class="tournament-title">
                <span class="tournament-bracket__round-title">CUARTOS</span>
            </div>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item"><a routerLink="/detalle-partido">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-18">18 February 1998</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="luisfrpeada">luisfrpe</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="uriklandaakhstan">uriklanda</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></a>
                </li>

                <li class="tournament-bracket__item"><a routerLink="/detalle-partido">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-18">18 February 1998</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="javicch Republic">javic</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code"
                                            title="Unitede states of America">mosquit0p</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></a>
                </li>
                <li class="tournament-bracket__item"><a routerLink="/detalle-partido">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-18">18 February 1998</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="jorgeRland">jorgeR</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">2</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Sweden">joseH</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></a>
                </li>

                <li class="tournament-bracket__item"><a routerLink="/detalle-partido">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-18">18 February 1998</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="ventuKsia">ventuK</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="BelaventuK">BEL</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></a>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--semijorgeRals">
            <div class="tournament-title">

                <span class="tournament-bracket__round-title">SEMIFINAL</span>
            </div>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item"><a routerLink="/detalle-partido">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-20">20 February 1998</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="luisfrpeada">luisfrpe</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="javicch Republic">javic</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">2</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></a>
                </li>

                <li class="tournament-bracket__item"><a routerLink="/detalle-partido">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-20">20 February 1998</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="jorgeRland">jorgeR</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="ventuKsia">ventuK</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">7</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></a>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--semijorgeRals">
            <div class="tournament-title">

                <span class="tournament-bracket__round-title">FINAL</span>
            </div>

            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item"><a routerLink="/detalle-partido">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-20">20 February 1998</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="luisfrpeada">luisfrpe</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="javicch Republic">javic</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">2</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></a>
                </li>


            </ul>
        </div>

    </div>
</div>

<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>