<div class="top-margin"></div>
<div class="container-bracket">

    <div class="tournament-bracket tournament-bracket--rounded">
    
        <div class="tournament-bracket__round tournament-bracket__round--quarterjorgeRals">
            <div class="tournament-title">
                <span class="tournament-bracket__round-title">CUARTOS</span>
            </div>
            <ul *ngIf="partidosList.cuartoList"  class="tournament-bracket__list">
                <li *ngFor="let item of partidosList.cuartoList" class="tournament-bracket__item"><a [routerLink]="['/detalle-partido', item.partido_id]">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-18">{{item.fecha | date:'longDate'}}</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="luisfrpeada">{{item.nombre_first}}</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">{{item.resultado_first}}</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="uriklandaakhstan">{{item.nombre_second}}</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">{{item.resultado_second}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></a>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--semijorgeRals">
            <div class="tournament-title">

                <span class="tournament-bracket__round-title">SEMIFINAL</span>
            </div>
            <ul *ngIf="partidosList.semiList" class="tournament-bracket__list">
                <li *ngFor="let item of partidosList.semiList" class="tournament-bracket__item"><a [routerLink]="['/detalle-partido', item.partido_id]">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-20">{{item.fecha | date:'longDate'}}</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="luisfrpeada">{{item.nombre_first}}</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">{{item.resultado_first}}</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="javicch Republic">{{item.nombre_second}}</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">{{item.resultado_second}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></a>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--semijorgeRals">
            <div class="tournament-title">

                <span class="tournament-bracket__round-title">FINAL</span>
            </div>

            <ul *ngIf="partidosList.finalList" class="tournament-bracket__list">
                <li *ngFor="let item of partidosList.finalList" class="tournament-bracket__item"><a [routerLink]="['/detalle-partido', item.partido_id]">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-20">{{item.fecha | date:'longDate'}}</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="luisfrpeada">{{item.nombre_first}}</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">{{item.resultado_first}}</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="javicch Republic">{{item.nombre_second}}</abbr>
                                        <img [src]="imglogo" width="30px">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">{{item.resultado_second}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div></a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>